/******** hotfix change ************/
/* changes made for use in the testing branch */
/* 2nd changes for the testing branch */

/* 2nd attempt at merging with master */

/*html5 semantics tags */
article, aside, figure, footer, header, hgroup, menu, nav, section 
{ display: block; }

/* light css reset */
* { margin : 0; padding : 0; }
h2, h3, h4, h5, p, ul, ol  { margin : 0 20px; padding : .5em 0; }
img { border: 0px;}

/* =page level container */
#pageContainer {
    margin: 0px auto 0px auto;
    width: 960px;
}

#pageHeader {
    margin:0px auto 0px auto;
    width:960px;
    position:relative;
}

#contentContainer {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 200px;
    font-family: verdana;
    background-color: blue;
}

#pageFooter {
    margin: 0px auto;
    padding-bottom: 20px;
    width: 960px;
    position: relative;
    font-family: verdana;
}

#pageAside {
    float: right;
    width: 200px;
    background-color: green;
    height: 200px;
}

#pageNav {
    float: left;
    width: 200px;
    background-color: yellow;
    height: 200px;
}

/* Clear Floated Elements */
.clearfix:before, .clearfix:after {content: "\0020"; 
display: block; height: 0; visibility: hidden;}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }